<h1>Users</h1>


<div class="profile-container">
    <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%>

    <h3>name</h3>
    <h3 class="profile-name"><%= @user.name %></h3>

    <h3>introduction</h3>
    <h3 class="profile-introduction"><%= @user.introduction %></h3>
    <div>
    <p><%= link_to "プロフィール編集マーク", edit_user_path(@user), class: "pull-right" %></p>
    </div>
</div>

<%= form_for(@book, url: books_path) do |f| %>
    <% if @book.errors.any? %>
      <div id="error_explanation">
        <h2><%= @book.errors.count %>件のエラーが発生しました。</h2>
        <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <h1>New book</h1>
    <h3>Title</h3>
    <%= f.text_field :title %>
    <h3>Opinion</h3>
    <%= f.text_area :opinion %>
    <div>
    <p><%= f.submit "Create Book", class: "pull-right" %></p>
    </div>
<% end %>



<% @users.each do |user| %>
  
<%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
<div><%= user.name %></div>
<%= link_to user_path(user) do %>
<p>Show</p>
<% end %>

<% end %>