                <tr>
                    <td>
                    <%= link_to user_path(book.user_id) do %>
                        <%= attachment_image_tag book.user, :profile_image, :fill, 50, 50, class: "img-thumnail pull-left profile-thumb", fallback: "no_image.jpg",size: '40x40' %>
                    <% end %>
                    </td>

                    <td>
                        <%= link_to book_path(book) do %>
                            <div><%= book.title %></div>
                        <% end %>
                    </td>

                    <td>
                        <div><%= book.body %></div>
                    </td>

                    <td>
                        <div id=<%= "book-#{book.id}" %>>
                            <%= render "favorite", book: book %> <!-- render先の_favoriteで使うbookにbookを渡す -->
                        </div>
                    </td>

                    <td>
                        <div>
                            <p><%= "コメント数: #{book.comments.count}" %></p>
                        </div>
                    </td>

                </tr>