
<div class="container">
    <%# そもそもログインしてなきゃいろんな画面に入れないから不要 %>
    <% if user_signed_in? %>
        <%= render "/search_box" %>
    <% end %>

<p><%= notice %></p>
    <div class="sidebar col-lg-3">

        <div class="row">
            <h1 class="row">User info</h1>

            <div class="profile-container row">
                <%= attachment_image_tag @book.user, :profile_image, :fill, 100, 100, class: "img-thumnail pull-left profile-thumb", fallback: "no_image.jpg"%>
            </div>

            <table class="table">
                <tr>
                    <th>name</th>
                    <th class="profile-name"><%= @book.user.name %></th>
                </tr>

                <tr>
                    <th>introduction</th>
                    <th class="profile-introduction"><%= @book.user.introduction %></th>
                </tr>
                <tr>
                    <th>フォロー数</th>
                    <th><%= link_to @book.user.active_relationships.all.count, follows_user_path(@book.user) %></th>
                </tr>
                <tr>
                    <th>フォロワー数</th>
                    <th><%= link_to @book.user.passive_relationships.all.count, followers_user_path(@book.user) %></th>
                </tr>

            </table>

            <div>
                <% if @book.user != current_user %>
                    <% if @book.user.followed_by?(current_user) %>
                        <%= link_to "フォローを外す", user_relationships_path(@book.user.id), class: "btn btn-default col-lg-12", method: :delete %>
                    <% else %>
                        <%= link_to "フォローする", user_relationships_path(@book.user.id), class: "btn btn-default col-lg-12", method: :post %>
                    <% end %>
                <% end %>
            </div>

            <div>
            <%= link_to "", edit_user_path(@book.user), class: "glyphicon glyphicon-wrench btn btn-default col-lg-12", style:"color: black" %>
            </div>

        </div>


        <div class="row">
            <%= form_for(@book_new, url: books_path) do |f| %>
                <div>
                    <% if @book_new.errors.any? %>
                      <div id="error_explanation">
                        <h2><%= @book_new.errors.count %>件のエラーが発生しました。</h2>
                        <ul>
                            <% @book_new.errors.full_messages.each do |message| %>
                              <li><%= message %></li>
                            <% end %>
                        </ul>
                      </div>
                    <% end %>
                </div>

                <h1 class="">New book</h1>

                <div class="row">
                    <h5>Title</h5>
                    <div><%= f.text_field :title, class: "col-lg-12"  %></div>
                </div>

                <div class="row">
                    <h5>Opinion</h5>
                     <div><%= f.text_area :body, class: "col-lg-12"  %></div>
                </div>

                <div class="row">
                    <div style="margin-top: 10px;"><%= f.submit "Create Book", class: "btn btn-primary col-lg-12" %></div>
                </div>
            <% end %>

        </div>
    </div>

    <div class="<%= "detail-#{@book.id}"%> main col-lg-9" >
        <%= render 'book_detail.html.erb', book: @book, comment: @comment %>
    </div>

</div>
